.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border: 4px solid red;
    
}

/* header */

header {
    width: 100%;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 24px;
}

ul li {
    font-weight: 500;
    font-size: 16px;
}

.action {
    color: white;
    background-color: black;
    padding: 12px 24px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}

.burger {
    font-size: 12px;
    padding: 8px;
    background-color: #000000;
    color: white;
    border-radius: 50%;
    display: none;
}

/* .section1 */

.section1 {
    width: 100%;
    padding: 64px;
}

.section1_content {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 45%;
}

.section1_img {
    width: 45%;
    height: 450px;
}

.firstText {
    font-weight: 900;
    font-size: 56px;
}

.secondText {
    font-weight: 400;
    font-size: 18px;
    margin-top: 24px;
}

.actionAndText {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.thirdText {
    width: 236px;
    font-weight: 600;
    font-size: 14px;
}

/* section2 */

.section2 {
    width: 100%;
    padding: 64px 0;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
}

.sect2Content {
    width: 76%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.circleNHeading {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius: 50%;
}

.feature {
    font-weight: 700;
    font-size: 18px;
}

.longT {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* section3 */

.section3 {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
}

.sect3Img {
    border-radius: 12px;
    width: 45%;
    height: 428px;
}

.sect3Heading {
    font-weight: 900;
    font-size: 24px;
}

.section3>div {
    width: 45%;
    color: white;
}

.texts {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text1 {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* section4 */

.section4 {
    width: 100%;
    height: 566px;
    background-image: url(../Images/dgmxybg4kb7eab7x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect4Div {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 5px solid yellow;
}


.sect4Heading {
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}

.sect4Text {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

#action4 {
    color: black;
    background-color: white;
    padding: 12px 24px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}

/* footer */

footer {
    padding: 96px 150px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.columns {
    color: white;
    display: flex;
    justify-content: space-between;
    /* gap: 141px; */
}

.footerList {
    width: 228px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}

h5 {
    font-weight: 400;
    font-size: 14px;
}



/* responsive ver movaswari */